<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{% block title %}Home{% endblock %} | Browser-Based Map Reduce</title>
		{% block styles %}{% endblock %}
		<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
		{% block scripts %}{% endblock %}
	</head>
	<body id="body">
		<div id="contenttitle">
			{% block contenttitle %}
			<h1>Browser-Based Distributed Map Reduce</h1>
			{% endblock %}
		</div>
		<div id="menu">
			{% block menu %}
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/job/list">List Jobs</a></li>
				<li><a href="/job/new">New Job</a></li>
				<li><a href="/client/sample">View Sample</a></li>
			</ul>
			{% endblock %}
		</div>
		<div id="header">
			<h3>{% block header %}Browser-Based Map Reduce{% endblock %}</h3>
		</div>
		<div id="content">
			{% block content %}
			<p>
			This is a proof of concept browser-based distributed map reduce system. 
			This allows administrators to write javascript functions and insert a list of data and have 
			visitors to websites implementing the script to have their clients automatically run that function against
			as many of those pieces of data in possible.
			</p>
			<p>
			Please be warned that this script poses a security risk and is just a proof of concept. Security has
			not been the primary concern. I am not responsible for any damages this system causes as a result
			of your use.
			</p>
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			<script type="text/javascript" src="/client/wrapper/sdfjkh3458sdf"></script>
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
			<p style="color:red">
			    *DISCLAIMER* 
                I am not responsible for any harm this causes you, your computer, or anyone who visits this site. This project is simply for educational purposes.
			</p>
			{% endblock %}
		</div>
		
		<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-341770-9");
        pageTracker._trackPageview();
        } catch(err) {}</script>
	</body>
</html>